@import '../../../styles.scss';

.nav-container {
  background-color: var(--black);
  position: sticky;
  top: 0;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  position: relative;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.social-links a {
  @include link-hover;
  margin-left: 15px;
  color: var(--white);
  font-size: 1.6em;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-button {
  @include button-base;
  width: 120px;
  height: 40px;
  border: none;
  color: var(--light-gray);
}

.nav-button:hover {
  background-color: var(--darker-gray);
  color: var(--white);
  transition: background-color 0.2s, color 0.2s;
}

.nav-button.active {
  background-color: var(--dark-gray);
  color: var(--white);
}

.logo a {
  font-weight: bold;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  letter-spacing: -4px;
  user-select: none;
}

.logo:hover a {
  color: var(--blue);
  transition: color 0.2s;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    color: var(--blue);
    transition: color 0.2s;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-center {
    position: fixed;
    left: 0;
    top: 65px;
    width: 100vw;
    height: 0;
    background-color: var(--black);
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    transform: none;
    border-bottom: 1px solid var(--gray);

    &.mobile-menu-open {
      height: 150px;
    }
  }

  .nav-button {
    width: 100vw;
    height: 100%;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--gray);
  }

  .social-links {
    display: none;
  }
}
