@import '../../../styles.scss';

.nav-container {
  background-color: var(--black);
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  position: relative;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.social-links a {
  @include link-hover;
  margin-left: 15px;
  color: var(--white);
  font-size: 1.6em;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-button {
  @include button-base;
  width: 120px;
  height: 40px;
  border: none;
  color: var(--light-gray);
}

.nav-button:hover {
  background-color: var(--darker-gray);
  color: var(--white);
  transition: background-color 0.2s, color 0.2s;
}

.nav-button.active {
  background-color: var(--dark-gray);
  color: var(--white);
}

.logo a {
  font-weight: bold;
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
  letter-spacing: -4px;
}

.logo:hover a {
  color: var(--blue);
  transition: color 0.2s;
}
