@import '../../../styles.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-item span {
  font-size: 1.2em;
}
.contact-item a {
  @include link-hover;
  font-size: 1.2em;
}

.message-apps {
  display: flex;
  flex-direction: row;
  gap:8px;
  justify-content: space-between;
}

.message-apps a {
  @include button-base;
  flex: 1;
  height: 40px;
  color: var(--white);
  font-size: 1.2em;
}

.message-apps a:hover {
  @include hover-card;
}

.phone-numbers {
  display: flex;
  flex-direction: column;
}

.linked-in {
  font-family: 'Avenir Black', monospace;
}

.other {
  margin-top: 30px;
  font-size: 1.5em;
}
