@import '../../../styles.scss';

.go-button {
  @include button-base;
  padding: 10px 20px;
  margin: 13px 0px;
  color: var(--white);
  font-size: 1.2em;
}

.go-button:hover {
  @include hover-card;
  border: 1px solid var(--gray);
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-details ::ng-deep img {
  max-width: calc(100vw - 20px);
}

@media (max-width: 768px){
  .top-row{
    flex-direction: column;
  }
}
