@import '../../../styles.scss';

.go-button {
  @include button-base;
  padding: 10px 20px;
  margin: 13px 0px;
  color: var(--white);
  font-size: 1.2em;
}

.go-button:hover {
  @include hover-card;
  border: 1px solid var(--gray);
}

.project-details {
  margin-bottom: 50px;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
