@import '../../../styles.scss';

.go-button {
  @include button-base;
  padding: 10px 20px;
  margin: 13px 0px;
  color: var(--white);
  font-size: 1.2em;
}

.go-button:hover {
  @include hover-card;
  border: 1px solid var(--gray);
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-details ::ng-deep img {
  max-width: 100%;
}

.project-details ::ng-deep pre {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
  max-width: 100%;
  padding-bottom: 15px;
}

.project-details ::ng-deep a {
  @include link-hover;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap:10px;
}

@media (max-width: 768px){
  .top-row{
    flex-direction: column;
  }

  .go-button{
    margin: 0;
  }

  .buttons {
    flex-direction: column;
  }
}
