.go-button {
  padding: 10px 20px;
  margin: 13px 0px;

  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;

  border: 1px solid var(--dark-gray);
  border-radius: 8px;
}

.go-button:hover {
  background-color: var(--darker-gray);
  border: 1px solid var(--gray);
  box-shadow: 0 4px 8px var(--shadow-blue);
  transition: background-color .2s, border .2s, box-shadow .2s;
}

.project-details {
  margin-bottom: 50px;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
