@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('assets/fonts/Avenir\ Black/Avenir\ Black.ttf') format('ttf');
}

:root {
  --black: #080808;
  --dark-gray: #252525;
  --darker-gray: #181818;
  --gray: #484848;
  --light-gray: #9a9aa8;
  --white: #dbdbdb;
  --blue: #0064c7;
  --shadow-blue: #002f5974;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--black);
  color: var(--white);
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--gray) var(--black);
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px 10px;
}

@mixin button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

@mixin hover-card {
  border-color: var(--gray);
  background-color: var(--darker-gray);
  box-shadow: 0 4px 8px var(--shadow-blue);
  transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

@mixin link-hover {
  color: var(--light-gray);
  text-decoration: none;

  &:hover {
    color: var(--blue);
    transition: color 0.2s;
  }
}
